<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Practo Hackathon Automation Suite">

    <test name="TC_002 Invalid Login Test">
        <classes>
            <class name="org.practo.tests.TC_001_LoginWithValidCredentials"/>
            <class name="org.practo.tests.TC_002_LoginWithInvalidPassword"/>
            <class name="org.practo.tests.TC_014_NavigateToSurgeryPage"/>
           <class name="org.practo.tests.TC_016_ExtractTop5FAQs"/>
            <class name="org.practo.tests.TC_018_InvalidMobileVideoConsult"/>
        </classes>
    </test>
</suite>