<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Practo Hackathon Automation Suite">

    <test name="Practo tests">
        <classes>
            <class name="org.practo.tests.TC_009_Navigation"/>
            <class name="org.practo.tests.TC_010_TopCitiesVisibility"/>
            <class name="org.practo.tests.TC_011_VerifySearchAndLocationBox"/>
            <class name="org.practo.tests.TC_012_VerifyFirstNHospitals"/>
            <class name="org.practo.tests.TC_013_VerifyBookHospitalVisitButton"/>
            <class name="org.practo.tests.TC_015_VerifyNoResultsPageDoesNotCrash"/>
           <class name="org.practo.tests.TC_016_ExtractTop5FAQs"/>
        </classes>
    </test>
</suite>